
main {
    padding:          30px 0;
    justify-content:  center;
    align-items:      center;
}

main form {
    padding:          16px 8px 8px 8px;
    width:            auto;
    max-width:        auto;
    height:           auto;
    border:           4px solid var(--defaultBlue);
    border-radius:    8px;
    display:          flex;
    flex-direction:   column;
    align-items:      center;
    gap:              8px;
}

main form input[type="text"] {
    padding:          4px 8px;
    width:            100vw;
    max-width:        50vw;
    height:           auto;
    border:           2px solid var(--defaultBlue);
    border-radius:    4px;
    font-size:        16pt;
}

main form input[type="text"]:focus,
main form input[type="text"]:not(:placeholder-shown) {
    background-color: var(--defaultBlue);
    color:            var(--defaultWhite);
}

main form button[type="submit"] {
    margin:           4px 0 0 0;
    padding:          4px 8px;
    width:            auto;
    height:           auto;
    border:           2px solid var(--defaultBlue);
    border-radius:    4px;
    font-size:        14pt;
    background-color: var(--defaultWhite);
}

main form button[type="submit"]:hover {
    background-color: var(--defaultBlue);
    color:            var(--defaultWhite);
}
